<footer class="bg-primarycolor">
    <div class="d-flex justify-content-center">
        <a style="opacity: 0.5;" class="p-2 mt-4" href="https://www.instagram.com/pedrooliveiragt/">
            <i class="bi bi-instagram text-danger"></i>
        </a>
        <a style="opacity: 0.5;" class="p-2 mt-4"
            href="https://api.whatsapp.com/send?phone=5583996314029"><i
                class="bi bi-whatsapp text-danger"></i></a>
    </div>
    <div class="container primary-color justify-content-center d-flex">
        <p style="opacity: 0.5;" class="mb-4 text-danger">&copy; 2024 Pedro Oliveira. #somostodoshashtag</p>
    </div>
</footer>